.projectsPage {
  background-color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContainer {
  width: 400px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .projectContainer {
    width: 95%;
  }
}

.projectContainer img {
  width: 400px;
  height: 200px;
}

@media(max-width: 600px){
  .projectContainer img {
    width: 350px;
  }
}

.allProjects {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 1300px) {
  .allProjects {
  }
}

.viewProjectButton {
  background-color: transparent;
  border: 2px solid red;
  color: red;
  width: 150px;
  height: 30px;
}

.projectContainer p {
  margin: 0px 0px 10px 0px;
}

.projectsHeadline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media(max-width:600px){
  .projectsHeadline {
    padding: 0;
  }
}

.projectsHeadline h3 {
  font-size: 2em;
}
